<component>
<section>
    <templateId root="2.16.840.1.113883.10.20.24.2.2"/>
    <templateId root="2.16.840.1.113883.10.20.24.2.3"/>
    <code code="55186-1" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC"
        displayName="Measure Document"/>
    <title>Measure Section</title>
    <text>
        <table border="1" width="100%">
            <colgroup>
                <col width="25%"/>
                <col width="15%"/>
                <col width="15%"/>
                <col width="15%"/>
                <col width="15%"/>
                <col width="15%"/>
            </colgroup>
            <thead>
                <tr>
                    <th>Measure</th>
                    <th>Compliance Period</th>
                    <th>Denominator</th>
                    <th>Numerator</th>
                    <th>Exclusion</th>
                    <th>Outcome</th>
                </tr>
            </thead>
            <tbody>
            {{#qualityEntries}}
                <tr>
                    <td>{{measure}}</td>
                    <td>{{complainceStart}} - {{complainceEnd}}</td>
                    <td>{{denominator}}</td>
                    <td>{{numerator}}</td>
                    <td>{{exclusion}}</td>
                    <td>{{outcome}}</td>
                </tr>
                <tr>
                    <td>Colorectal Cancer Screening (CMS 130v5)</td>
                    <td>Jan 1 2017 - Dec 31 2017</td>
                    <td>yes</td>
                    <td>no</td>
                    <td>no</td>
                    <td>Non-Compliant</td>
                </tr>
                <tr>
                    <td>Pneumococcal Vaccination Status for Older Adults (CMS 127v5)</td>
                    <td>Jan 1 2017 - Dec 31 2017</td>
                    <td>no</td>
                    <td>no</td>
                    <td>no</td>
                    <td>Not Eligible</td>
                </tr>
                <tr>
                    <td>Controlling High Blood Pressure (CMS 165v5)</td>
                    <td>Jan 1 2017 - Dec 31 2017</td>
                    <td>yes</td>
                    <td>excl</td>
                    <td>yes</td>
                    <td>Excluded</td>
                </tr>
            {{/qualityEntries}}
            </tbody>
        </table>
    </text>
    {{#qualityEntries}}
    <entry>
        <organizer classCode="CLUSTER" moodCode="EVN">
            <templateId root="2.16.840.1.113883.10.20.24.3.98"/>
            <templateId root="2.16.840.1.113883.10.20.24.3.97"/>
            <id root="{{entryId}}"/>
            <statusCode code="completed"/>
            <reference typeCode="REFR">
                <externalDocument classCode="DOC" moodCode="EVN">
                    <id root="2.16.840.1.113883.4.738"
                        extension="40280381-51f0-825b-0152-229afff616ee"/>
                    <code code="57024-2" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC"
                        displayName="Health Quality Measure Document"/>
                    <text>{{measure}}</text>
                    <versionNumber value="5"/>
                </externalDocument>
            </reference>
            <!-- To specify the time period, a component has been added with the appropriate QRDA1 template (Reporting Parameters Act) -->
            <component>
                <act classCode="ACT" moodCode="EVN">
                    <templateId root="2.16.840.1.113883.10.20.17.3.8"/>
                    <id root="55a43e20-6463-46eb-81c3-9a3a1ad41225"/>
                    <code code="252116004" codeSystem="2.16.840.1.113883.6.96"
                        displayName="Observation Parameters"/>
                    <effectiveTime>
                        <!-- The beginning of the reporting period. -->
                        <low value="{{complainceStart}}"/>
                        <!-- The ending of the reporting period. -->
                        <high value="{{complainceEnd}}"/>
                    </effectiveTime>
                </act>
            </component>
            <component>
                <!-- Set negationInd="false" to assert that the criteria are met by the included data. 
				Set negationInd="true" to assert that the criteria are NOT met by the included data. 
				Since this patient is in the denominator, negationInd is set to false -->
                <observation classCode="OBS" moodCode="EVN" negationInd="{{denoNegationInd}}">
                    <code code="ASSERTION" codeSystem="2.16.840.1.113883.5.4"
                        codeSystemName="ActCode" displayName="Assertion"/>
                    <value xsi:type="CD" code="DENOM" codeSystem="2.16.840.1.113883.5.4"
                        codeSystemName="ObservationValue" displayName="denominator"/>
                </observation>
            </component>
            <component>
                <!-- Since this patient is NOT in the numerator, negationInd is set to true -->
                <!-- Note that this measure has inverted numerator logic (i.e. numerator events are non-compliant)-->
                <observation classCode="OBS" moodCode="EVN" negationInd="{{numeNegationInd}}">
                    <code code="ASSERTION" codeSystem="2.16.840.1.113883.5.4"
                        codeSystemName="ActCode" displayName="Assertion"/>
                    <value xsi:type="CD" code="NUMER" codeSystem="2.16.840.1.113883.5.4"
                        codeSystemName="ObservationValue" displayName="numerator"/>
                </observation>
            </component>
            {{#denex}}
            <component>
                <observation classCode="OBS" moodCode="EVN" negationInd="{{denexNegationInd}}">
                    <code code="ASSERTION" codeSystem="2.16.840.1.113883.5.4"
                        codeSystemName="ActCode" displayName="Assertion"/>
                    <value xsi:type="CD" code="DENEX" codeSystem="2.16.840.1.113883.5.4"
                        codeSystemName="ObservationValue" displayName="denominator exclusions"/>
                </observation>
            </component>
            {{/denex}}
        </organizer>
    </entry>
    {{/qualityEntries}}
</section>
</component>